/* text colors */

.text-primary{
    color: #28a745;
}

.text-secondary{
    color: #0284d0;
}

/* button */

.btn{
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background-color: #28a754;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    opacity: 0.9;
}

.btn-primary{
    background-color: #28a754;
    color: #fff;
}

.btn-light{
    background-color: #f4f4f4;
    color: #333;
}

.btn-secondary{
    background-color: #0284d0;
    color: #fff;
}

.btn-dark{
    background-color: #333;
    color: #fff;
}


/* flex items */

.flex-items{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.flex-items > div{
    padding :20px;
}